*{
    margin: auto;
}

html,body{
    /* background:rgba(235, 44, 44, 0.842); */
    /* margin: 0; */
    color:black;
    overflow-x: hidden;
    overflow-y: auto;
}

.row{
    height: 700px;
    margin-top: 100px ;
    padding: 20px;
    /* border: 1px solid black; */
}

.kananPage {
    max-height: 100%;
    height: 600px;
    background-color: #C4C4C4;
    text-align: center;
    padding: 20px;
    margin-left: 10px;
}

.kananPage img, p {
    margin-top: 20px;
    padding-bottom: 20px;
}

.kiriPage {
    max-height: 100%;
    height: 600px;
    background-color: #F45A5A;
    padding: 20px;
}

.kiriPage img {
    height: 180px;
}

.kiriPage hr{
    width: 40%;
}

.kiriPage span{
    padding: 5px;
    background-color: #C4C4C4;
}

.kiriDesc{
    padding-top: 10px;
    background-color: #C4C4C4;
}

.kiriPage p{
    padding: 0 20px 20px 20px;
    font-size: 24px;
}

.kiriPage h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.kiriPage button {
    margin-top: 20px 0 10px 0;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

