*{
    margin: auto;
}

body{
    /* background:rgba(235, 44, 44, 0.842); */
    margin: 0;
    color:black;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 0%;
}

.content h1{
    text-align: center;
}

.content p{
    text-align: justify;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
