@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://www.nutrimart.co.id/media/images/Artikel/Picture3_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    position: relative;
    max-height: 80%;
    padding: 50px 50px;
    background: rgba(165, 159, 159, 0.9);
    border-radius: 10px;
    border: 1px solid black;
}
.center h1 {
    font-size: 2em;
    border-left: 5px solid #f45a5a;
    border-radius: 0.5em;
    padding: 10px;
    color: black;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
    background-color: #fff;
    text-align: center;
}
.center .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
}
.center .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid black;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}
.center .inputbox:last-child {
    margin-bottom: 0;
}
.center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
    opacity: 1;
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
}
.center .inputbox button {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    border: 2px solid black;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    display: inline-block;
    width: 5em;
    background: #28a745;
    color: #fff;
    border: #fff;
    transition: all 0.3s ease;
}

.center .inputbox a {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    border: 2px solid black;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
    display: inline-block;
    width: 5em;
    background: dodgerblue;
    text-decoration: none;
    color: white;
    border: #fff;
    transition: all 0.3s ease;
}

.center .inputbox button:hover {
    border: 1px solid rgb(40, 167, 69);
    background-color: white;
    color: #28a745;
}

.center .inputbox a:hover {
    border: 1px solid rgb(40, 167, 69);
    background-color: white;
    color: dodgerblue;
}