*{
    margin: 0;
    padding: 0;
}

body,html{
    background: fixed;
    background-color: wheat;
    overflow-x: hidden;
    overflow-y: hidden;
}

.center{
    position: fixed;
    /* background:white; */
    top: 35%;
    left: 13%;
    right: 20%;
    right: auto;
    margin-top: -100px;
    margin-left: -100px;
    display: flex;
}

.leftContent{
    text-align: justify;
}

.judulPage{
    text-align: center;
}

.rightContent{
    align-content: center;
    padding-top: 50px;
    padding-left: 50px;
}

img{
    width: 100%;
    max-width: 400px;
    height: auto;
}
